absl-py==0.9.0
astor==0.8.1
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
backports.weakref==1.0.post1
bcdoc==0.12.2
bleach==3.1.0
boto==2.33.0
botocore==0.73.0
cachetools==3.1.1
certifi==2015.4.28
chardet==3.0.4
colorama==0.2.5
configparser==4.0.2
coremltools==3.3
cycler==0.10.0
decorator==4.0.9
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.2.2
genson==0.1.0
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
GraphLab-Create==2.1
grpcio==1.27.1
h5py==2.10.0
idna==2.8
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.9.0
ipython-genutils==0.2.0
Jinja2==2.11.1
jmespath==0.5.0
jsonschema==2.5.1
jupyter-client==5.3.4
jupyter-core==4.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.31.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.5
mistune==0.8.4
mock==3.0.5
multipledispatch==0.6.0
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.1.5
numba==0.47.0
numpy==1.16.4
oauthlib==3.1.0
opt-einsum==2.3.2
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.11.3
psclient==2.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
resampy==0.2.1
scandir==1.10.0
scipy==1.2.2
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sseclient==0.0.8
subprocess32==3.5.4
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==4.3
traitlets==4.3.3
turicreate==6.1
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
wrapt==1.12.0
